.ingredient-input {
    width: 12%;
    margin-left: 10px;
    display: inline-block;
}

.inline-button {
    display: inline-block !important;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    margin: 10px;
}

.input-vertical-align {
    vertical-align: middle;
}