.red-background {
    background-color: red;
}

.primary-background {
    background-color: blue;
}

.focus {
    cursor: pointer;
}

.tag-base {
    display: inline-block;
    width: fit-content;
    cursor: pointer;
}