.footer-recipe {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */
    
}

button {
    margin : 5px;
}

.submit-discard-footer-center {
    display: inline-block ;
    text-align: center ;
    width: fit-content ;
}